.idea
app/resource/css/bootstrap.min.css
app/resource/js/bootstrap.bundle.min.js
app/resource/uploads/*
app/helpers/notUsed_Session.php
app/resource/views/home/notUsed_login.php
app/resource/img/logo.png