.header {
   position: sticky;
   top: 0;
   z-index: 1;
}

.wrapper {
   margin-top: 60px;
}

table th,
table td {
   border: 2px solid #333;
}

.table_input {
   margin-top: -2px;
}

.table_input td {
   border: 2px solid #212529;
}

.table_input input {
   border-radius: 0;
   border: 2px solid transparent;
   cursor: default;
}

.table_input input:focus {
   outline: none;
   cursor: text;
   border: 2px solid #444;
}

[type="number"] {
   width: 130px;
}

select {
   width: 188px;
   min-height: 28.91px;
}

textarea {
   width: 188px;
   max-width: 240px;
   min-height: 70px;
   max-height: 140px;
}

/* Warning: Bootstrap's styles changed! */
.offcanvas {
   --bs-offcanvas-width: 20vw;
}