.header {
   position: sticky;
   top: 0;
   z-index: 1;
}

.wrapper {
   margin-top: 60px;
}

a {
   text-decoration: none;
}

table th,
table td {
   /* padding: 5px; */
   border: 2px solid #333;
}

.table_input {
   margin-top: -2px;
}

.table_input input {
   border-radius: 0;
   border: 2px solid transparent;
   cursor: default;
}

.table_input input:focus {
   outline: none;
   cursor: text;
   border: 2px solid #444;
}

input[type="number"] {
   max-width: 90px;
}

select {
   width: 188px;
   min-height: 28.91px;
}

.table_input td {
   border: 2px solid #212529;
}

textarea {
   /* resize: vertical; */
   width: 188px;
   max-width: 240px;
   min-height: 70px;
   max-height: 140px;
}
